/* default page colour */
body {
  background-color: #81A4CD;
}

/* navbar properties */
li a {
  color: #dbe4ee;
}
.dropdown li a {
  color: #dbe4ee;
}
.navbar-brand {
  color: #dbe4ee
}
.navbar-brand:hover {
  color: #f17300;
}

/* homepage properties */
.page-homepage-row-one {
  height: 50px;
}
.page-homepage-row-two {
  height: 70px;
  color: #dbe4ee;
}
.page-homepage-row-three {
  display: flex;
}

/* homepage carousel left & right properties */
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: -20%;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  right: -20%;
}

/* homepage footer properties */
.page-homepage-footer {
  text-align: center;
  background-color: #f17300;
}

.page-homepage-row-four {
  height: 30px;
}

.page-homepage-row-five {
  height: 10px;
}