body {
  background-color: #81A4CD;
}

li a{
  color: #dbe4ee;
  }
   
  .dropdown li a{
  color: #dbe4ee;
  }
   
  .navbar-brand {
  color: #dbe4ee
  }
   
  .navbar-brand:hover {
  color: #f17300;
  }

  .page-homepage-row-one {
    height: 50px;
  }

  .page-homepage-row-two {
    height: 70px;
    color: #dbe4ee;
  }

  .page-homepage-row-three {
    display: flex;
  }