li a{
  color: #dbe4ee;
  }
   
  .dropdown li a{
  color: #dbe4ee;
  }
   
  .navbar-brand {
  color: #dbe4ee
  }
   
  .navbar-brand:hover {
  color: #f17300;
  }

  body {
    background-color: #81a4cd;
    color: #dbe4ee;
  }

  h1 {
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .button {
    border-radius: 50%;
    margin-left: 10px;
    background-color: #054a91;  
    border-color: #054a91; 
    color: #81a4cd;
    padding: 15px;
  }

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .video {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .titleimg:hover {
    transform: scale(1.5);
  }